/*Couleur :	bleu: #227
			gris: #AAA*/


body{
	background-color: #333;	
}

.containers {
	
	/*padding: 40px;
	margin: 100px 200px 100px 200px;*/
	width: 700px;
	margin: 2em auto;/*auto permet de centrer*/
	font-family: Impact, Charcoal, sans-serif
	line-height: 3em;
	font-size: 1.1em;
}

.header {
	background-color: #999;
	border: 3px solid black;
	border-radius: 12px;
	padding: 20px;
	color: #227;/*changer couleur du contenu*/
	text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
	color: #227;
}

.header--icons {
	font-size: 2.3em;
	text-shadow: 2px 2px 2px black;
}

section {
	background-color: /*MidnightBlue*/ #AAA;
	border: 3px solid black;
	border-radius: 10px;
	margin-top: 1em;
}


/*---------------------- PARTIE REGLES ----------------------*/

.intro {
	overflow: hidden;
}

.intro--header {
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn--regles {
	margin-right: 30px;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	font-size: 20px;
	background-color: #227;
	border: 2px solid black;
	cursor: pointer;
}

.btn--collapse:focus {
	outline: none;
}

.intro--containt {
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 1.2em;
	color: #111;
	box-sizing: border-box;
	/*display: none;Cacher*/
}

/*-------------------------PARTIE JEU-------------------------*/

.jeu {
	overflow: hidden; /*cacher*/
	
}

.menu {
	padding: 20px;
	font-size: 150%;
}

.menu h2 {
	margin-bottom:  40px;
}

.nbTours {
	align-items: center;
}

input[type="text"] {
	border-radius: 6px;
	border: none;
	font-size: 100%;
	margin-left: 20px;
	padding-left: 25px;

}

.error {
	color: #AAA; 
	background-color: #911;
	padding: 10px 20px;
	border-radius: 8px;

}

/*Je n'arrive pas à modifier le bouton lancerPartie*/
#btn--lancerPartie { 
	display: none;
	font-size: 100%;
	color:brown;
	background-color: blue;
}

.btn--lancerPartie { 
	display: none;
	font-size: 100%;
	color:brown;
	background-color: blue;
}
/*fin boutons lancer partie*/


/*------ PARTIE ACCESSIBLE APRES ENVOIE DU FORMULAIRE ------*/

/*.affichage--jeu {
	display: none;
}*/

.tableau2jeu {
	display: flex;
	padding: 20px 10px;
	text-align: center;
}

.joueur, .ordi {
	width: 50%;
}

.main {
	box-sizing:  border-box;
	margin: 0 auto;
	border: 3px solid #227;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.score {
	width: 200px;
	height: 30px;
	color: yellow;
}


/*------Selection du type d'action------*/


.hands {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.end {
  /*display: none;*/
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 0;
}

.btn--replay {
	background-color: #227;
	color: #AAA;
	border: none;
	border-radius: 6px;
	font-size: 100%
}
